@model gudang_net_baru.Models.Master.ReasonCode.ReasonCodeDto
@{
}
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <h3>Edit Reason Code</h3>
                    <div class="col mb-3">
                        <div class="form-group">
                            <label>Kategori</label>
                            <select class="form-control" asp-for="Kategori">
                                <option>Pilih</option>
                                <option value="Adjustment">Adjustment</option>
                                <option value="Return">Return</option>
                                <option value="Transfer">Transfer</option>
                            </select>
                            <span asp-validation-for="Kategori" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="form-group">
                            <label>Reason Code</label>
                            <textarea class="form-control" asp-for="ReasonCode"></textarea>
                            <span asp-validation-for="ReasonCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="form-group">
                            <label>Deskripsi </label>
                            <textarea class="form-control" asp-for="Deskripsi"></textarea>
                            <span asp-validation-for="Deskripsi" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col text-end mb-3">
                        <button type="submit" class="btn btn-primary"> <i class="bi bi-save"></i> Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>