@model gudang_net_baru.Models.Transaction.PurchaseOrder.PurchaseOrderDto;
@{
    ViewData["Title"] = "Edit Purchase Order";
    var supplier = ViewBag.ListSupplier;
    var sku = ViewBag.ListSku;
    var id = ViewBag.Id;
}

<!-- Header -->
<div class="page-header d-flex align-items-center justify-content-between">
    <div>
        <h2 class="h4 mb-0">Form Purchase Order</h2>
        <small class="opacity-75">Buat PO baru untuk pembelian barang</small>
    </div>
</div>
<form method="post" enctype="multipart/form-data" id="poForm">

    <!-- DETAIL -->
    <div class="card card-modern mb-3">
        <div class="card-header">
            <h5><i class="bi bi-receipt"></i> Data Supplier</h5>
        </div>
        <div class="card-body">
            <div class="row g-3 p-3">
                <table class="table table-sm table-striped mb-0">
                    <tbody>
                        <tr>
                            <th style="width: 20%;">Supplier</th>
                            <td>
                                : <span id="supplierText">@Model?.SupplierName</span>
                            </td>
                        </tr>
                        <tr>
                            <th style="width:160px">Tanggal PO</th>
                            <td style="width:240px">
                                : <span id="tanggalPoText">@Model?.TanggalPo.ToString("dd MMM yyyy")</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Total Qty</th>
                            <td>
                                : <span id="totalQtyText">@Model?.TotalQty pcs</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Keterangan</th>
                            <td>
                                : <span class="mb-0" id="keteranganText">@Model?.Keterangan</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Status Purchase Order (PO)</th>
                            <td>
                                :
                                @if(Model.StatusPo == "Draft")
                                {
                                    <span class="badge bg-warning" id="statusPo">@Model?.StatusPo</span>
                                }else if(Model.StatusPo == "Posted")
                                {
                                    <span class="badge bg-info" id="statusPo">@Model?.StatusPo</span>
                                }else if(Model.StatusPo == "Closed")
                                {
                                    <span class="badge bg-success" id="statusPo">@Model?.StatusPo</span>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- ITEMS -->
    <div class="card card-modern mb-3">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0"><i class="bi bi-bag-check"></i> Items Order</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive p-3" style="max-height:52vh;overflow:auto;">
                <table class="table table-sm table-bordered align-middle mb-0">
                    <thead class="table-light sticky-top">
                        <tr>
                            <th>Nama Item</th>
                            <th style="width:12%">Qty Order</th>
                            <th style="width:12%">Unit</th>
                            <th>Keterangan</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    <span>@item.ItemName</span>
                                </td>
                                <td>
                                    <span>@item.QtyOrder</span>
                                </td>
                                <td>
                                    <span>@item.UnitMeasureName</span>
                                </td>
                                <td>
                                    <span>@item.KeteranganNotes</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>