@model gudang_net_baru.Models.Master.UnitMeasure.UnitMeasureDto
@{
    ViewData["Title"] = "Tambah Unit Measure";
}
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <h3>Tambah Unit Measure</h3>
                    <div class="col mb-3">
                        <div class="form-group">
                            <label>Nama Unit Measure</label>
                            <input type="text" class="form-control" asp-for="UnitMeasureName" />
                            <span asp-validation-for="UnitMeasureName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="form-group">
                            <label>Deskripsi</label>
                            <textarea asp-for="Deskripsi" class="form-control"></textarea>
                            <span asp-validation-for="Deskripsi" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="form-group">
                            <label>Conversion</label>
                            <textarea asp-for="Conversion" class="form-control"></textarea>
                            <span asp-validation-for="Conversion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col text-end mb-3">
                        <button type="submit" class="btn btn-primary"> <i class="bi bi-save"></i> Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
